.board {
  width: 100vh;
  height: 100vh;
}

.board__row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.board__tile {
  width: 12.5vh;
  height: 12.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__tile svg {
  width: auto;
  max-height: 90%;
}

.board__tile:nth-child(2n),
.board__row:nth-child(2n) .board__tile {
  background-color: #aaa;
}

.board__tile,
.board__row:nth-child(2n) .board__tile:nth-child(2n) {
  background-color: #eee;
}

@media (orientation: portrait) {
  .board {
    width: 100vw;
    height: 100vw;
  }
}
