.board {
  --bg-color: #eee;
  --bg-alt-color: #ddd;
  --margin: 20px;
  --border-radius: 7px;
  --full-length: calc(100vh - (var(--margin) * 2));
  --tile-length: calc((100vh - (var(--margin) * 2)) / 8);
  --alt-team-color: #888;

  background-color: var(--bg-color);
  width: var(--full-length);
  min-width: var(--full-length);
  max-width: var(--full-length);
  height: var(--full-length);
  min-height: var(--full-length);
  max-height: var(--full-length);
  margin: var(--margin);
  border-radius: var(--border-radius);
}

.board__row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.board__tile {
  width: var(--tile-length);
  height: var(--tile-length); 
  padding-bottom: 12px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board__tile.is-active {
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.5);
}

.board__tile:nth-child(2n),
.board__row:nth-child(2n) .board__tile {
  background-color: var(--bg-alt-color);
}

.board__tile,
.board__row:nth-child(2n) .board__tile:nth-child(2n) {
  background-color: var(--bg-color);
}

@media (orientation: portrait) {
  .board {
    --full-length: calc(100vw - (var(--margin) * 2));
    --tile-length: calc((100vw - (var(--margin) * 2)) / 8);
  }
}
